p
{
	color: #fff;
	font-size: 3em;
	font: 'trebuchet MS', 'sans-serif', 'Arial', 'arial';
	background: url('./2.jpg') no-repeat center center;
	text-align: center;
}

#name
{
	olor: #fff;
	font-size: 4rem;
	font: 'trebuchet MS', 'sans-serif', 'Arial', 'arial';
	text-align: center;
}